name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout repo
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2️⃣ Setup Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    # 3️⃣ Install dependencies
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy

    # 4️⃣ Run MLflow Project
    - name: Run MLflow Project
      run: mlflow run MLProject --experiment-name "Workflow-CI" -P alpha=0.5 -P l1_ratio=0.1

    # 5️⃣ Upload model artifact ke GitHub
    - name: Upload model artifact
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-model
        path: MLProject/mlruns

    # 6️⃣ Build Docker Image (Advance, optional)
    - name: Build Docker Image
      if: ${{ github.ref == 'refs/heads/main' }}
      run: |
        RUN_ID=$(ls -td MLProject/mlruns/0/* | head -n1)
        mlflow models build-docker -m $RUN_ID/artifacts/model -n workflow-ci-image

