name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy

    - name: Run MLflow Project
      run: mlflow run MLProject --experiment-name "Workflow-CI" -P alpha=0.5 -P l1_ratio=0.1

    - name: Upload model artifact to GitHub
      uses: actions/upload-artifact@v3
      with:
        name: model
        path: MLProject/mlruns

    - name: Build Docker Image (Advance)
      if: ${{ github.ref == 'refs/heads/main' }}
      run: |
        mlflow models build-docker -m MLProject/mlruns/0/<run_id>/artifacts/model -n workflow-ci-image
